<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxr.bsoj.mapper.AnnouncementMapper">

    <resultMap id="BaseResultMap" type="com.zxr.bsoj.model.entity.Announcement">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="category" column="category" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="publisherId" column="publisherId" jdbcType="BIGINT"/>
            <result property="publisherName" column="publisherName" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="releaseTime" column="releaseTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
            <result property="weight" column="weight" jdbcType="INTEGER"/>
            <result property="sortOrder" column="sortOrder" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,category,title,
        content,publisherId,publisherName,
        status,releaseTime,createTime,
        updateTime,isDelete,weight,
        sortOrder
    </sql>
</mapper>
